<?xml version="1.0" encoding="utf-8"?>
<nlog xmlns="http://nlog.config"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:schemaLocation="http://nlog.config http://nlog-project.org/schemas/NLog.xsd">

	<targets>
		<!-- Log to file -->
		<target name="logfile" xsi:type="File" fileName="logs/logfile.txt" layout="${longdate} ${level} ${message} ${exception}" />
		<!-- Log to console -->
		<target name="logconsole" xsi:type="Console" layout="${longdate} ${level} ${message} ${exception}" />
	</targets>

	<rules>
		<!-- Log all messages from Information level and higher to both file and console -->
		<logger name="*" minlevel="Info" writeTo="logfile, logconsole" />
	</rules>

</nlog>
